<h1>
  Send Email
</h1>
<pre>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
</pre>

<%= form_for(@draft, url: create_home_index_url, :method=>'post') do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :to, 'To: ' %>
      <%= f.text_field :to, placeholder: 'example@test.com' %>    
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, :rows=>7 %>
    </div>
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file_field :file %>
    </div>
    <hr/>
    <div class="form-actions">
      <%= f.submit 'Send' %>
      <%= f.submit 'Save as draft' %>
    </div>
  </div>
<% end %>
